<button nz-button nzType="primary" (click)="openAddModal()">
  Add Password
</button>
<br /><br />

<nz-table #basicTable [nzData]="listOfData">
  <thead>
    <tr>
      <th>ID</th>
      <th>Category</th>
      <th>App</th>
      <th>Username</th>
      <th>Password encrypted</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (data of basicTable.data; track data) {
    <tr>
      <td>{{ data.id }}</td>
      <td>{{ data.category }}</td>
      <td>{{ data.app }}</td>
      <td>{{ data.userName }}</td>
      <td>{{ data.encryptedPassword }}</td>
      <td>
        <a (click)="openEditModal(data)">Edit</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="deletePassword(data.id)">Delete</a>
      </td>
    </tr>
    }
  </tbody>
</nz-table>

<nz-modal
  [(nzVisible)]="isModalVisible"
  [nzTitle]="currentEditId !== null ? 'Edit Password' : 'Add New Password'"
  (nzOnCancel)="closeModal()"
  (nzOnOk)="submitForm()"
>
  <ng-container *nzModalContent>
    <form [formGroup]="PasswordForm" class="modal-form">
      <div class="form-item">
        <label for="category">Category:</label>
        <nz-input-group [nzPrefix]="prefixCategory">
          <input
            nz-input
            id="category"
            placeholder="Enter category"
            formControlName="category"
          />
        </nz-input-group>
        <ng-template #prefixCategory>
          <i nz-icon nzType="tags"> </i>
        </ng-template>

        <div
          *ngIf="
            PasswordForm.get('category')?.invalid &&
            (PasswordForm.get('category')?.dirty ||
              PasswordForm.get('category')?.touched)
          "
          class="text-danger"
        >
          Category is required.
        </div>
      </div>

      <div class="form-item">
        <label for="app">App:</label>
        <nz-input-group [nzPrefix]="prefixApp">
          <input
            nz-input
            id="app"
            placeholder="Enter app name"
            formControlName="app"
          />
        </nz-input-group>
        <ng-template #prefixApp>
          <i nz-icon nzType="appstore"></i>
        </ng-template>
        <div
          *ngIf="
            PasswordForm.get('app')?.invalid &&
            (PasswordForm.get('app')?.dirty || PasswordForm.get('app')?.touched)
          "
          class="text-danger"
        >
          App is required.
        </div>
      </div>

      <div class="form-item">
        <label for="username">Username:</label>
        <nz-input-group [nzPrefix]="prefixUser">
          <input
            nz-input
            id="username"
            placeholder="Enter username"
            formControlName="userName"
          />
        </nz-input-group>
        <ng-template #prefixUser>
          <i nz-icon nzType="user"></i>
        </ng-template>
        <div
          *ngIf="
            PasswordForm.get('userName')?.invalid &&
            (PasswordForm.get('userName')?.dirty ||
              PasswordForm.get('userName')?.touched)
          "
          class="text-danger"
        >
          Username is required.
        </div>
      </div>

      <div class="form-item">
        <label for="password">Password:</label>
        <nz-input-group
          [nzPrefix]="prefixLock"
          [nzSuffix]="suffixTogglePassword"
        >
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
            id="password"
            placeholder="Enter password"
            formControlName="encryptedPassword"
          />
        </nz-input-group>

        <ng-template #prefixLock>
          <i nz-icon nzType="lock"></i>
        </ng-template>

        <ng-template #suffixTogglePassword>
          <i
            nz-icon
            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="togglePasswordVisibility()"
            class="clickable-icon"
          ></i>
        </ng-template>
        <div
          *ngIf="
            PasswordForm.get('encryptedPassword')?.invalid &&
            (PasswordForm.get('encryptedPassword')?.dirty ||
              PasswordForm.get('encryptedPassword')?.touched)
          "
          class="text-danger"
        >
          Password is required.
        </div>
      </div>
    </form>
  </ng-container>
</nz-modal>
