<button nz-button nzType="primary" (click)="openAddModal()">
  Add Password
</button>
<br /><br />

<nz-table #basicTable [nzData]="listOfData">
  <thead>
    <tr>
      <th>Category</th>
      <th>App</th>
      <th>Username</th>
      <th>Password</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (data of basicTable.data; track data) {
    <tr>
      <td>{{ data.category }}</td>
      <td>{{ data.app }}</td>
      <td>{{ data.userName }}</td>
      <td>{{ data.encryptedPassword }}</td>
      <td>
        <button nz-button nzType="default">Info</button>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="openEditModal(data)">Edit</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>Delete</a>
      </td>
    </tr>
    }
  </tbody>
</nz-table>

<nz-modal
  [(nzVisible)]="isModalVisible"
[nzTitle]="currentEditId !== null ? 'Edit Password' : 'Add New Password'"
  (nzOnCancel)="closeModal()"
  (nzOnOk)="submitForm()"
>
  <ng-container *nzModalContent>
    <form [formGroup]="PasswordForm" class="modal-form">
      <div class="form-item">
        <label for="category">Category:</label>
        <input nz-input id="category" formControlName="category" />
      </div>

      <div class="form-item">
        <label for="app">App:</label>
        <input nz-input id="app" formControlName="app" />
      </div>

      <div class="form-item">
        <label for="username">Username:</label>
        <input nz-input id="username" formControlName="userName" />
      </div>

      <div class="form-item">
        <label for="password">Password:</label>
        <input
          nz-input
          id="password"
          type="password"
          formControlName="encryptedPassword"
        />
      </div>
    </form>
  </ng-container>
</nz-modal>
